

.MenuWrapper {

    padding: 2.5rem 0 3.125rem 0;

    .Menu {
        max-width: 1240px;
        width: 100%;
        margin: 0 auto;
        align-items: center;
        ;
        display: flex;
        justify-content: space-between;

        .MenuItems {

            align-items: center;
            ul {
                display: flex;
            
                li {
                  background-color: #f9f9f9;
                  padding: 13px 30px;
                  border-radius: 30px;
                  margin-right: 10px;
                  font-weight: bold;
                  cursor: pointer;
                  transition: background-color 0.1s ease-in-out;
                  -webkit-touch-callout: none; /* iOS Safari */
                  -webkit-user-select: none; /* Safari */
                  -khtml-user-select: none; /* Konqueror HTML */
                  -moz-user-select: none; /* Old versions of Firefox */
                  -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none;
      
            
                &:hover {
                  background-color: fuchsia;
                }
                  &:active{
                    background-color: #cd5353;
                  }
          
                &:active {
                  background-color: #000000;
                  font-size: 17px;
                }
          

                }
              }
        }
      .MenuSort{
        display: flex;
        justify-content: space-between;
        p{
         margin-right: 8px
        }
        span{
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;          
          letter-spacing: 0.015em;
          text-decoration:solid;
          border-bottom: 1px dashed #FF0064;
   
          cursor: pointer;
          color: #FF0064;
        }
      }
    }
}