
$bgCollor:#121b25;
$accentColorRed: #FF0064;
$textColor: #2C2C2C;
$twoColor: #F3F3F3;
$blueColor: #5A00E6;


@font-face {
    font-family: "Lato";
    src: url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
}
